.app {
  height: 100%;
}

h1 {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
}

.materials,
.subjects {
  flex-grow: 1;
  text-align: center;
  list-style-type: none;
  background-color: #90afc5;
  height: calc(100vh - 18em);
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  transition: 500ms ease-in-out;
  color: #3e363f;
}

.materials:hover,
.subjects:hover {
  transform: scale(1.02);
}

.subjects h2 {
  margin: 0;
  font-size: clamp(1.4rem, 3vh, 2.5rem);
}

.materials h2 {
  margin: 0;
  font-size: clamp(1.3rem, 3vh, 2.5rem);
}

.subjects ul {
  list-style-type: none;
  padding: 0;
  font-size: clamp(1rem, 2vh, 1.3rem);
}

.materials ul {
  list-style-type: none;
  padding: 0;
  font-size: clamp(0.7rem, 2vh, 1.3rem);
}

.date,
.selector,
.quote {
  background-color: #666666;
  height: 50px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 7px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  padding: 0;
  font-weight: bold;
  color: #aefff1;
  transition: 500ms ease-in-out;
}

.date:hover,
.selector:hover,
.quote:hover {
  transform: scale(1.02);
}

.quote {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: clamp(0.9rem, 2vh, 2rem);
}

.no_subjects {
  font-weight: bold;
  font-size: 1em;
}

.selector button {
  border-radius: 0.5em;
  margin-left: 4px;
  transform: translateY(1px);
  background-color: #90afc5;
  border-color: black;
  border-width: 0.2em;
}
